/* src/components/Cart.css */

.cart-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
  }
  
  .cart-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .item-name {
    font-size: 16px;
    color: #333;
  }
  
  .item-price {
    font-size: 16px;
    color: #333;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  
  .checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0926a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .checkout-button:hover {
    background-color: #007cc1;
  }
  
  .checkout-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 25% !important;
    margin-left: 35%;
  }